.FormContainer {
  width: 100%;
  /* background-color: rgb(0, 77, 102); */
  display: flex;
  flex-direction: row-reverse;
}

.box_1 {
  width: 50%;
  height: 450px;
  /* background-color: green; */
}

form {
  width: 600px;
  margin-left: 4.5rem;
  padding: 1rem;
}

.box_2 {
  width: 50%;
  height: 450px;
  background-color: red;
}

.box_1 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.01em;
  padding-right: 50px;
  color: #040052;
}

.box_1 .underline {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(245, 69, 0);
}

.otpAndDate {
  width: 467px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#date {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #040052;
  color: #5e5e5e;
}

.box_1 #phone,
#bookBtn,
#otp {
  width: 467px;
  padding: 25px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #040052;
}

.re-otp {
  width: 467px;
  display: flex;
  justify-content: flex-end;
}
#genOtpBtn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  height: 30px;
  padding: 1.5em 2.8em;
  color: #040052;
  border: 2px solid #040052;
  border-radius: 2px;
  transition: ease 0.5s;
}

#genOtpBtn:hover {
  background-color: #040052;
  color: white;
  border: 2px solid #040052;
}

#bookBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(45deg, #ff8000, #ff0000);
  cursor: pointer;
  border: none;
}

#bookBtn:hover {
  background-image: linear-gradient(45deg, #ff0000, #ff8000);
}

#resendOtp {
  background-color: transparent;
  height: 38px;
  border: none;
  text-underline-offset: 5px;
  text-decoration: underline #040052;
  font-size: 14px;
  color: #5e5e5e;
  transition: ease 0.5s;
}
#resendOtp:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.iti input,
.iti input[type="text"],
.iti input[type="number"] {
  padding-right: 48%;
  height: 48px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box_1 .firstp {
  font-size: 14px;
  padding: 20px 0;
  color: #5e5e5e;
}
@media screen and (max-width: 1391px) {
  .box_1,
  .box_2 {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    margin-left: 10%;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 1069px) {
  .FormContainer {
    width: 100%;
    flex-direction: column-reverse;
  }
  form {
    margin: 0 10%;
    padding-left: 60px;
  }
}
@media screen and (max-width: 753px) {
  form {
    margin: 0 0 0 16%;
    padding-left: 10px;
  }
}
@media screen and (max-width: 695px) {
  form {
    padding-left: 0px;
    margin: 0 0 0 14%;
  }
}
@media screen and (max-width: 611px) {
  .box_1 {
    height: 450px;
  }
  .box_2 {
    height: 450px;
  }

  form {
    margin: 0 0 0 18%;
  }
  .box_1 h2 {
    font-size: 38px;
  }

  .box_1 .firstp {
    font-size: 14px;
  }
  .box_1 #phone,
  #bookBtn,
  #otp {
    width: 367px;
    padding: 25px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #040052;
  }
  .otpAndDate {
    width: 367px;
    height: 48px;
  }
  .re-otp {
    width: 367px;
  }
}
@media screen and (max-width: 506px) {
  .box_1,
  .box_2 {
    height: 350px;
  }

  .box_1 form {
    margin: 0 0 0 18%;
  }
  .box_1 h2 {
    font-size: 28px;
    line-height: 36px;
    margin: 10px 0;
  }

  .box_1 .firstp {
    font-size: 12px;
    padding: 0%;
    margin: 10px 0;
    text-align: left;
  }
  #date {
    width: 100%;
    height: 30px;
  }
  .box_1 #phone,
  #bookBtn,
  #otp {
    width: 267px;
    padding: 15px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #040052;
  }
  .otpAndDate {
    width: 267px;
    height: 48px;
    margin: 10px 0;
    flex-direction: column;
  }
  .re-otp {
    width: 267px;
  }
}
@media screen and (max-width: 400px) {
  form {
    margin: 0 0 0 10%;
  }
}
@media screen and (max-width: 370px) {
  form {
    margin: 0 0 0 9%;
  }
  .box_1 h2 {
    font-size: 25px;
    line-height: 36px;
  }
}

/* @media screen and (min-width:340px) and (max-width:385px){
  
    form{
    margin: 0 0 0 9%;
  }
  
  .box_1 h2 {
    width:100%;
    padding: 0;
    font-size: 25px;
    line-height: 36px;
  }
  .otpParagraph{
    font-size: 14px;
    padding-top: 0px;
    margin: 0;
  }
  #date{
    padding: 0;
  }
  #otp{
    margin-top: 10px;
  }
  .re-otp{
    width:267px;
    height: 30px;
    align-items: center;
    margin-bottom: 5px;
  }
  #resendOtp {
  font-size: 14px;
  }
  #genOtpBtn{
    height: 30px;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 14px;
  }
  } */
